<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="app.grapheneos.apps" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="org.thoughtcrime.securesms" />
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.waze" />
        <package android:name="app.organicmaps" />
        <package android:name="com.here.app.maps" />
        <package android:name="com.amazon.mp3" />
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.pandora.android" />
        <package android:name="org.videolan.vlc" />
        <package android:name="com.acmeaom.android.myradar" />
        <package android:name="de.wetteronline.wetterapp" />
        <package android:name="com.weather.Weather" />
        <package android:name="org.owntracks.android" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
